/*############ Font ################*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'db_heavent';
  src: url(../fonts/db_heavent_v3.2-webfont/db_heavent_v3.2-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'db_heavent_med';
  src: url(../fonts/db_heavent_med_v3.2-webfont/db_heavent_med_v3.2-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'db_heavent_bd';
  src: url(../fonts/db_heavent_bd_v3.2-webfont/db_heavent_bd_v3.2-webfont.ttf) format('truetype');
}

/*############ /Font ################*/

/*############ Variables ################*/
:root {
    --text-gray: #808291;
    --text-white: #f8f9fa;
    --text-light: #f6f6f6;
    --text-dark: #1a3260;
    --text-dark2: #1A3760D4;
    --text-red: #f7665d;
    --box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
    --bg-blue: rgb(249, 243, 255);
    --bg-red: #f7665d;
    --bg-yellow: rgb(255, 255, 264);
    --bg-purple: rgb(246, 255, 255);
    --bg-gc: #007ac6;
    --bg-white: #f8f9fa;

    /* font family */
    --font-main: "db_heavent,Kanit,Poppins,Prompt";

    /* gradient colors */
    --bg-gradient: linear-gradient(to right, #ff512f, #dd2476);
    --bg-gradient-indio: linear-gradient(to right, #007ac6, #00cfec);
      /* --bg-gradient-indio: linear-gradient(to right, #00cfec, #007ac6); */
    --bg-gradient-peach: linear-gradient(to right, #ff7f3, #fff7f3);

    --font-main-size:12px;


    *>* {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    ul {
        list-style-type: none;
    }
}
body{
    font-family: 'db_heavent';
    
}
/* scrollbar */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0057B8;
}
/* scrollbar */

/* search */

.searchBox {
    position: relative; 
    /* left: 50%; */
    /* transform: translate(-50%,50%); */
    background: transparent;

    border-radius: 15px;
    top:-2px;
    /* margin-top: 2px; */
    /* padding: 10px; */
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    color: #0057B8;
    top: 2px;
}
.bg-white .searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    border: 1px solid #0057B8;
    font-size: 20px;
    color: #0057B8;
    top: 2px;
}

.searchBox:hover > .searchButton {
  background: transparent;

}
.bg-white .searchButton{
     color: #0057B8;
}
button.searchButton img {
    height: 22px;
    position: relative;
    top: -1px;
}
.searchButton {
    color: #ffffff;
    /* float: right; */
    /* width: 40px; */
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: none;
    background: transparent;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    position: relative;
    top:2px;
    font-weight: bold;
}
a.nav-link img {
    /* border: 1px solid red; */
    width: 20px;
    position: relative;
    top: -2px;
}
.bg-white .searchButton {
    color: #235FB2;
    /* float: right; */
    /* width: 40px; */
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: none;
    background: transparent;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 2px;
    font-weight: bold;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;

}

.searchButton img {
    height: 24px;
}
.bg-white .searchInput {
    border:none;
    background: #fff;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 16px;
    width: 0px;

}
/* search */
/*  */
.bg-gc{
    background: #0057B8;
}
.bg-gc .nav-link {
    color: #ffffff !important;
}
.gc-ci-top-information {
    position: fixed;
    width: 100vw;
    padding: 15px;
    min-height: 150px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    z-index: 200;
    top: 30px;
    padding-top: 5px;
    padding-bottom: 0px;
}
.gc-ci-content{
    position: relative;
    top: 195px;
    height: calc(100vh - 195px);
    overflow-y: scroll;
    width: 100%;
    padding:15px;
    padding-top:0px;
}
.test-content{
    height: 3000px;
    width: 100%;
}
.initiative-name-title{
    border-bottom: 1px solid #707070;
    width:100%;
}
.initiative-name-title-text{
  color: #0057B8;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    line-height: 18px;
    margin-top: 5px;
}
.gc-ci-content-title{
     color:#0057B8;
    font-size:28px;
    font-weight: bold;
    border-bottom: 1px solid #707070;
    width:100%;
}
.gc-ci-top-information-control {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: none;
}
.sidebarActive.zoom-in-out-box {
    margin-left: 4px;
    top: 1px;
    position: relative;
}
.gc-ci-top-information-control li{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-right: 3px;
    font-weight: 500;
    border-radius: 15px;
    cursor: pointer;
    transition: all .2s ease-in;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    line-height: 12px;
}
.gc-ci-top-information-control li:hover{
    background-color: #0057B8;
    transition: all .2s ease-in;
    color:#ffffff;
}
/* *********************** */

/* stage gate */
ul.initiative-stage-gate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-end;
}
.initiative-stage-gate{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 18px;
    margin-top: 10px;
}
.initiative-stage-gate li{
    /* width: calc(100% / 8); */
    min-width:180px;
    position: relative;
    min-height:66px;

}
.initiative-stage-gate-item-current{
    border-color:#EC5D2A !important;
    background-color: #EBF4FF !important;
}
.initiative-stage-gate-item-current .initiative-stage-gate-box-gate-diamond{
    border-color:#235FB2 !important;
    background-color: #235FB2 !important;
}
.initiative-stage-gate-item-completed{
    border-color:#235FB2 !important;
    background-color: #EBF4FF !important;
}
.initiative-stage-gate-item-completed .initiative-stage-gate-box-gate-diamond{
    border-color:#235FB2 !important;
    background-color: #235FB2 !important;
}
.initiative-stage-gate-item-incomplete{
    border-color:#235FB2 !important;
}
.initiative-stage-gate-item-moveback{
    border-color:#235FB2 !important;
}
.initiative-stage-gate-item-canceled{
    border-color:#D22C35 !important;
    background-color:#D22C35 !important;
    color:#ffffff !important;
}
.initiative-stage-gate-item-onhold{
    border-color:#F7C851 !important;
    background-color:#F7C851 !important;
    color:#ffffff !important;
}
.initiative-stage-gate-item-incomplete .initiative-stage-gate-box-gate-diamond{
    border-color:#235FB2 !important;
    background-color: #ffffff !important;
}
.initiative-stage-gate-item-inprogress{
    border-color:#235FB2 !important;
    background-color: #235FB2 !important;
    color:#ffffff !important;
}
/* .initiative-stage-gate-item-inprogress .initiative-stage-gate-box-gate-diamond{
    border-color:#4FB3DD !important;
    background-color: #ffffff !important;
} */
.initiative-stage-gate-item-completed .initiative-stage-gate-box-gate-diamond.initiative-stage-gate-box-gate-diamond-white{
    border-color:#235FB2 !important;
    background-color: #ffffff !important;
}
.initiative-stage-gate-box-gate-diamond-waitforapprove{
 border-color:#ffffff !important;
    background-color: #4FB3DD !important;
}
.initiative-stage-gate-box-gate-diamond-revise{
 border-color:#235FB2 !important;
    background-color: #F7C851 !important;
}
.initiative-stage-gate-box-gate-diamond-inprogress{
 border-color:#4FB3DD !important;
    background-color: #ffffff !important;
}
.initiative-stage-gate-box-gate-diamond-white{
    border-color:#235FB2 !important;
    background-color: #ffffff !important;
}
.initiative-stage-gate-box-gate-diamond-moveback{
    border-color:#235FB2 !important;
    background-color: #F7C851 !important;
}
.initiative-stage-gate-box-gate-diamond-canceled{
    border-color:#ffffff !important;
    background-color: #D22C35 !important;
}
.initiative-stage-gate-box-gate-diamond-onhold{
    border-color:#ffffff !important;
    background-color: #F7C851 !important;
}


.initiative-stage-gate-item-notstarted-text{
    color:#B1B3B3 !important;
}
.initiative-stage-gate-item-completed-text{
    color: #1F59B2 !important;
}
.initiative-stage-gate-item-moveback-text{
    color: #F2AD00 !important;
}
.initiative-stage-gate-item-revise-text{
    color: #F2AD00 !important;
}
.initiative-stage-gate-item-onhold-text{
    color: #F2AD00 !important;
}
.initiative-stage-gate-item-canceled-text{
    color: #D22C35 !important;
}
.initiative-stage-gate-box-gate {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}
.initiative-stage-gate-box-gate {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: -16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 200;
}
.initiative-stage-gate-box-gate-diamond {
    width: 20px;
    height: 20px;
    background: #ffffff;
    transform: rotate(45deg);
    border: 3px solid;
    border-color: #D9D9D6;
    z-index: 300;
}
.initiative-stage-gate-top{
    font-size: 16px;
     text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 12px;
    min-height:12px;
}
.initiative-stage-gate-end {
    position: absolute;
    left: 5px;
    font-size: 16px;
    color: #4caf50 !important;
    top: 0;
    /* border: 1px solid red; */
    line-height: 12px;
}
.initiative-stage-gate-box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
   
    border: 2px solid;
    border-left: 0px solid;
    border-right: 2px solid;
    border-color: #D9D9D6;
    background-color:#F5F5F5;
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
}
.initiative-stage-gate-box-first{
     border-left: 2px solid;
     border-color: #D9D9D6;
      border-right: 2px solid;
}
.initiative-stage-gate-box-last{
     border-right: 2px solid;
     border-color: #D9D9D6;
}
span.initiative-stage-gate-box-1 {
    line-height: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}
span.initiative-stage-gate-box-2 {
    font-style: italic;
    font-weight: 100;
    line-height: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width:100%;
}
.initiative-stage-gate-top-1-inprogress{
    color: #4FB3DD !important;
}
/* stage gate */

.container-fluid {
    padding: 0;
    margin: 0;
}
nav{
    height: 30px;
}
a.navbar-brand img {
    height: 25px;
    position: relative;
    top: -2px;
}
a#navbarDropdownRecentProject i {
    font-size: 15px;
}
.navbar-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    z-index: 1030;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0056b3;
}
li.nav-item {
    margin-right: 15px;
}
.gc-vdo-bg{
   /* height: calc(100vh - 59px); */
   height:100vh;
   width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
nav.navbar {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-white {
    /* height: auto; */
    /* border: 1px solid red; */
}
a#navbarDropdownRecentProject {
    
}
a#navbarDropdownRecentProject::after {
    display: none;
}
a.navbar-brand {
    padding: 0px;
}
.navbar-nav{
    /* padding-top: 5px; */
}
.navbar-light .navbar-nav .nav-link {
    color: #235FB2;
    padding: 0px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 18px;
    font-weight: 600;
}
div#navbarSupportedContent {
    /* margin-top: 10px; */
}
.dropdown-toggle::after{
    /* content: '\f078';
    font-family: 'Font Awesome 6 Pro';
    border: none; */
}
.dropdown-toggle::after {
    content: '\f078';
    font-family: 'Font Awesome 6 Pro';
    width: 0;
    height: 0;
    margin-left: 0;
    vertical-align: 0;
    border:none;
    font-size: 12px;
}
.gc-content-home {
    height: calc(100vh -  78px);
    padding: 3%;
}

.gc-header-contentH1{
    font-family:'db_heavent_med';
    color: #fff;
    font-size: 4em;
    line-height: 1em;
}
.gc-header-contentH2{
    color: #fff;
    font-size: 1em;
    line-height: 1em;
}
.gc-content-create-item {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding:0px;
    margin-top: 2%;
}
.gc-content-create-item li {
    height: 214px;
    width: 100%;
    margin-right: 2%;
    border-bottom-left-radius: 37px;
    border-bottom-right-radius: 37px;
    border-top-left-radius: 37px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2%;
    font-size: 26px;
    line-height: 26px;
    color: #fff;
    transition: all .2s ease-out;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 200;
}
li.disable-create-item {
    opacity: 0.5;
    cursor: default;
    background: black;
}
li.gc-content-quick-link-li.disable-quick-link {
    opacity: 0.5;
    cursor: default;
}
.gc-content-create-item-img {
    margin-bottom: 10px;
}
.gc-content-create-item-1{
     border:4px solid #4FAD4F;
        background-color: #4FAD4F;
}
.gc-content-create-item-2{
     border:4px solid #47A1AB;
        background-color: #47A1AB;
}
.gc-content-create-item-3{
     border:4px solid #4FB3DD;
        background-color: #4FB3DD;
}
.gc-content-create-item-4{
     border:4px solid #235FB2;
        background-color: #235FB2;
}

.gc-content-create-item li:hover{
    border:4px solid #ffffff;
    transition: all .2s ease-in;
}

/* quick link */
.gc-content-quick-link{
    background-color: rgba(0,0,0,0.65);
    min-height: 200px;
    border-bottom-left-radius: 37px;
    border-bottom-right-radius: 37px;
    border-top-left-radius: 37px;
    padding: 2%;
    margin-top: 2%;
}

.gc-content-quick-link-li-img{
    /* background-color: rgba(255,255,255,0.65); */
    width: 48px;
    height: 48px;
}
.gc-content-quick-link-li-img img {
    width: 48px;
    filter: brightness(0) invert(1);
}
.gc-content-quick-link-li {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 10px;
    cursor: pointer;
    border:1px solid transparent;
    padding-right:20px;
    transition: all .2s ease-in;
}
.gc-content-quick-link-li:hover{
    border:1px solid #ffffff;
    background-color: rgba(255,255,255,0.20);
    transition: all .2s ease-in;
}
.gc-content-quick-link-li:hover .gc-content-quick-link-li-text{
    color:#fff;
    transition: all .2s ease-in;
}

ul.gc-content-quick-link-ul {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}
.gc-content-quick-link-li-text{
    color:#fff;
    margin-left: 15px;
    min-width: 150px;
}




/* top information */
.initiative-informaion-top{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-top: 5px;
}
.initiative-informaion-top li{
    display: flex;
    margin-right: 30px;
  
    text-overflow: ellipsis;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    flex-direction: column;
    align-items: flex-start;
}
.initiative-informaion-top li:last-child{
    display:flex;
    margin-right: 15px;
    min-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.initiative-informaion-top-text i{
    font-size: 11px;
}
.initiative-informaion-top-text{
    font-family: 'db_heavent_bd';
    font-weight: bold;
    margin-right: 5px;
    min-width: fit-content;
     /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
    line-height: 16px;
}
.initiative-informaion-top-value{
    font-family: 'db_heavent';
    font-weight: 200;
    margin-right: 5px;
     min-width: auto;
     /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
    line-height: 16px;
    font-size: 15px;
}
/* top information */



/* break point */

@media (min-width: 576px) { 
     .gc-content-create-item li{
        width: 100%;
      
    }
     .gc-header-contentH1{
        font-size: 4em;
    }
     .gc-header-contentH2{
        font-size: 1em;
    }
    nav.navbar{
        /* padding: 10px; */
    }
 }


@media (min-width: 768px) { 
     .gc-content-create-item li{
        width: 100%;
    }
    .gc-header-contentH1{
        font-size: 4em;
    }
     .gc-header-contentH2{
        font-size: 1em;
    }
 }

 
@media (min-width: 992px) { 
    .gc-content-create-item li{
        width: 228px;
         display: flex;
        flex-flow: column nowrap;
        place-content: center;
        align-items: flex-start;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
     .gc-header-contentH1{
        font-size: 8em;
    }
     .gc-header-contentH2{
        font-size: 3em;
    }
 }


@media (min-width: 1200px) { 
     .gc-content-create-item li{
        width: 228px;
        display: flex;
        flex-flow: column nowrap;
        place-content: center;
        align-items: flex-start;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    .gc-header-contentH1{
        font-size: 180px;
        line-height: 100px;
        margin-top: 55px;
    }
    .gc-header-contentH2{
        font-size: 56px;
    }
 }



 /* animate */

 .zoom-in-out-box {
    animation: zoom-in-zoom-out 1s ease infinite;

     color:var(--text-red);
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.4, 1.4);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* side bar */
#wrapper {
   padding-left: 0;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
   overflow: hidden;
}

#wrapper.toggled {
   padding-left: 250px;
   overflow: hidden;
}

#sidebar-wrapper {
   z-index: 1;
   position: fixed;
   left: 250px;
   width: 0;
   height: 100%;
   margin-left: -250px;
   overflow-y: auto;
   background: #0057B8;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
   border-top-right-radius: 5px;
}

#wrapper.toggled #sidebar-wrapper {
   width: 250px;
}

#page-content-wrapper {
   position: absolute;
   padding: 15px;
   width: 100%;
   overflow-x: hidden;
}

.xyz {
   min-width: 360px;
}

#wrapper.toggled #page-content-wrapper {
   position: relative;
   margin-right: 0px;
}

.fixed-brand {
   width: auto;
}
/* Sidebar Styles */
ul#menu i {
    font-size: 15px;
}
.sidebar-nav {
   position: absolute;
   top: 0;
   width: 250px;
   margin: 0;
   padding: 0;
   list-style: none;
   margin-top: 2px;
}

.sidebar-nav li {
    line-height: 20px;
    height: 25px;
    cursor: pointer;
}

.sidebar-nav li a {
    display: flex;
    text-decoration: none;
    color: #fff;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height:25px;
}

.sidebar-nav li a:hover {
   text-decoration: none;
   color: #fff;
   background: rgba(255, 255, 255, 0.2);
   /* border-left: rgb(255, 255, 255) 4px solid; */
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
   text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  
}

.sidebar-nav > .sidebar-brand a {
   color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
}

.no-margin {
   margin: 0;
}
#menu-toggle i{
      /* transform: rotate(0deg); */
     -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}
.icon-rotate {
    transform: rotate(180deg);
    margin-left: 200px;
     -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}
@media (min-width: 768px) {
   #wrapper {
      padding-left: 250px;
   }
   .fixed-brand {
      width: 250px;
   }
   #wrapper.toggled {
      padding-left: 0;
   }
   #sidebar-wrapper {
      width: 250px;
   }
   #wrapper.toggled #sidebar-wrapper {
      width: 250px;
   }
   #wrapper.toggled-2 #sidebar-wrapper {
      width: 50px;
   }
   /* #wrapper.toggled-2 #sidebar-wrapper:hover {
      width: 250px;
   } */
   #page-content-wrapper {
      padding: 20px;
      position: relative;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
   }
   #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
      padding-left: 250px;
   }
   #wrapper.toggled-2 #page-content-wrapper {
      position: relative;
      margin-right: 0;
      margin-left: -200px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      width: auto;
   }
}

/* side bar */