.rightBoxContent-page2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
}
.rightBoxContent-item-page2{
       display: flex;
       height: 100%;
       /* width: 80px; */
       border-radius: 10px;
       background-color: #B3F4FF;
       /* background-image: linear-gradient(315deg, #f8f8f8 0%, #eeeeee 100%); */
       flex-direction: row;
       align-content: center;
       justify-content: center;
       align-items: center;
       flex-wrap: nowrap;
       padding: 5px;
       min-width: 85px;
       box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
       text-align: center;
       margin: 5px;
       cursor: pointer;
       width: fit-content;
           box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
           -webkit-transition: box-shadow 400ms ease,
           -webkit-transform 400ms ease;
           transition: box-shadow 400ms ease,
           -webkit-transform 400ms ease;
           transition: box-shadow 400ms ease,
           transform 400ms ease;
           transition: box-shadow 400ms ease,
           transform 400ms ease,
           -webkit-transform 400ms ease;
}
.rightBoxContent-item-page2 img{
    width: 20px;
}
.rightBoxContent-item-page2:hover{
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.51);
        -webkit-transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
        transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
        transition: box-shadow 400ms ease,
        transform 400ms ease;
        transition: box-shadow 400ms ease,
        transform 400ms ease,
        -webkit-transform 400ms ease;
        background-color: #ffffff;
        transform: scale(1.1);
}

.rightBoxContent-item-page2-collapse{
        display: flex;
        height: 100%;
        /* width: 80px; */
        border-radius: 10px;
        background-color: #B3F4FF;
        /* background-image: linear-gradient(315deg, #f8f8f8 0%, #eeeeee 100%); */
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 5px;
        min-width: 85px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        text-align: center;
        margin: 5px;
        cursor: pointer;
        width:100%;
                box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
                -webkit-transition: box-shadow 400ms ease,
                -webkit-transform 400ms ease;
                transition: box-shadow 400ms ease,
                -webkit-transform 400ms ease;
                transition: box-shadow 400ms ease,
                transform 400ms ease;
                transition: box-shadow 400ms ease,
                transform 400ms ease,
                -webkit-transform 400ms ease;
                background-color: #ffffff;
}
.rightBoxContent-item-page2-collapse:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.51);
    -webkit-transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
    transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
    transition: box-shadow 400ms ease,
        transform 400ms ease;
    transition: box-shadow 400ms ease,
        transform 400ms ease,
        -webkit-transform 400ms ease;
    background-color: #ffffff;
    transform: scale(1.1);
    z-index: 500;
}
.divMainMenu {
    background: url("/assets/images/page2_BG_3.png") 0px 0px / cover;
}
.menuPage2 {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top:210px;

}
.menuPage2-item {
    height: 180px;
    width: 180px;
    margin-right: 20px;
    border-radius: 50%;
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.51);
        -webkit-transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
        transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
        transition: box-shadow 400ms ease,
        transform 400ms ease;
        transition: box-shadow 400ms ease,
        transform 400ms ease,
        -webkit-transform 400ms ease;
        background-color:#036c9a;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        color: #fff;
        border:8px solid #fff;
}
.menuPage2-item:not(.menuPage2-item-disable):hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.51);
    -webkit-transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
    transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
    transition: box-shadow 400ms ease,
        transform 400ms ease;
    transition: box-shadow 400ms ease,
        transform 400ms ease,
        -webkit-transform 400ms ease;
    /* background-color: #ffffff; */
    transform: scale(1.2);
    z-index: 500;
}
.menuPage2-item-img img {
    width: 40px;
}
.menuPage2-item-text {
    text-align: center;
        font-size: 1.2em;
         color: #fff;
        
}


/* panel */
 #panelbar {
     max-width: 100%;
     margin: 0 auto;
 }
/* 
.k-panelbar{
    background: transparent !important;
    border: none !important;
}
.k-panelbar .k-panelbar-content{
     background: transparent !important;
}
.k-state-highlight{
     background: transparent !important;
}
 .details {
     display: inline-block;
     vertical-align: top;
 }


 .k-drag-clue,
 .k-grid-header,
 .k-grouping-header,
 .k-header,
 .k-menu,
 .k-panelbar>.k-panelbar-header>.k-link,
 .k-progressbar,
 .k-state-highlight,
 .k-tabstrip,
 .k-tabstrip-items .k-item,
 .k-toolbar{
      background: transparent !important;
      border: none !important;
      box-shadow: none !important;
 }
 .k-panelbar>.k-item>.k-link,
 .k-panelbar>.k-panelbar-header>.k-link{
     color: #fff !important;
     font-size: 1.2em;
 }
 .k-panelbar>.k-item,
 .k-panelbar>.k-panelbar-header{
     border:none !important;
 } */

ul#panelbar {
    border: none;
    background: none !important;
        margin-top: 15px;
}
.k-panelbar .k-panelbar-content {
    color: #428bca;
    background: none !important;
}
.k-state-highlight {
    background: none !important;
    color: #333;
}
.k-drag-clue,
.k-grid-header,
.k-grouping-header,
.k-header,
.k-menu,
.k-panelbar>.k-panelbar-header>.k-link,
.k-progressbar,
.k-state-highlight,
.k-tabstrip,
.k-tabstrip-items .k-item,
.k-toolbar {
    background-position: 50% 50%;
 background-color: #65b8ff;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    /* padding: 
    5px; */
}

.k-panelbar>.k-item>.k-link.k-state-selected,
.k-panelbar>.k-panelbar-header>.k-link.k-state-selected {
    color: #fff;
    background-color: #65b8ff;
    border: none;
}
.k-panelbar>.k-item>.k-link.k-state-selected,
.k-panelbar>.k-panelbar-header>.k-link.k-state-selected:hover {
    color: #fff;
    background-color: #65b8ff;
    border: none;
}
.k-panelbar>.k-item>.k-link.k-state-selected,
.k-panelbar>.k-panelbar-header>.k-link.k-state-selected:focus {
    color: #fff;
    background-color: #65b8ff;
    border: none;
}
.k-panelbar>.k-item,
.k-panelbar>.k-panelbar-header {
    border-width: 0;
    border-style: solid;
    border-color: inherit;
    display: block;
    border: none !important;
}
.k-panelbar>.k-item>.k-link.k-state-selected,
.k-panelbar>.k-panelbar-header>.k-link.k-state-selected{
    box-shadow: none !important;
}
/* panel */