.bottomBar{
     background-image: url(../images/banner-bg6.png);
     background-position: bottom;
     background-size: cover;
     background-position-y: 28vh;
     background-attachment: fixed;
     background-repeat: no-repeat;

     height: 500px;
     width: 100vw;
     position: absolute;
     bottom: 0px;
     z-index: 2000;
}

.bar{
    z-index: 300;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 100;
}
.bar {
    z-index: 300;
    background: #03a9f4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 8px;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    z-index: 10000;
    position: relative;
    /* background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%); */
       background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
   overflow: hidden;

}
.bar-item {
    width: 22%;
    text-align: center;
    position: relative;
    cursor: pointer;
       transition: width 400ms ease,
       color 400ms ease,
       background-color 400ms ease,
       border-color 400ms ease;
       color: #ffffff;
       text-shadow: 2px 4px 5px rgb(0 0 0 / 30%),
       0px -4px 10px rgb(255 255 255 / 30%);
       font-weight: bolder;
       position: relative;

}
.bar-item>span{
      position: relative;
      z-index: 200;
  
}
.bar-item:hover{
    width: 40%;
    transition: width 400ms ease,
    color 400ms ease,
    background-color 400ms ease,
    border-color 400ms ease;
      /* color:#007ac6; */
}
.bar-item:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 34px;
    /* border: 1px solid red; */
    top: 0px;
    left: 2px;
    transform: skewX(-25deg);
    background: rgba(255, 255, 255, 0.4);
    filter: blur(10px);
    z-index: 100;
}
.bar-item:first-child{
    width: 35%;
}
.bar-item:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 35px;
    right: 0px;
    top: -8px;
    background-color: transparent;
    transform: skewX(-25deg);
    box-shadow: rgba(38,57,77,0.6) 5px 0px 4px -3px;
}

.div-block-103-copy {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* width: 200px;
    height: 320px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border-style: solid;
    border-width: 200px 100px;
    border-color: hsl(0deg 0% 100% / 0%) #fff #fff hsl(0deg 0% 100% / 0%);
    background-color:hsl(0deg 0% 0% / 16%);
    opacity: 0.90; */
}
.div-block-102 {
    position: relative;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 3;
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    /* -ms-grid-columns: 600px 200px 1fr;
    grid-template-columns: 600px 200px 400px;
    -ms-grid-rows: auto; */
    grid-template-rows: auto;
    border-right: 1px solid rgba(0, 0, 0, 0.26);
    z-index: 100;
}
.div-block-104 {
    position: relative;
    z-index: 2;
    /* background-color: hsl(0deg 0% 0% / 15%); */
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
}
.div-block-105-left {
    background-color: rgb(0 122 198 / 50%);
    position: absolute;
    right: 0px;
    height: calc(100vh - 120px);
    width: 30%;
    /* border-left: 10px solid #fff; */
}

.content2col{
    background:rgb(216, 216, 216);
    height: calc(100vh - 120px);
   
}
.notification{
    z-index: 500;
}

span.notification-bar-task {
    color: red;
}
.notification-bar-title{
    color:#ffffff;
}
.menuMain-item {
    width: 25%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.menuMain {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.circleMenu1 {
    /* background: -webkit-gradient(linear, left top, left bottom, from(#33c8c1), to(#119bd2));
    background: linear-gradient(#33c8c1 0%, #119bd2 100%); */
       background: -webkit-gradient(linear, left top, left bottom, from(#05e8ba), to(#087ee1));
       background: linear-gradient(#05e8ba 0%, #2e82ef 100%);
}
.circleMenu2 {
    /* background: -webkit-gradient(linear, left top, left bottom, from(#fe8464), to(#fe6e9a));
    background: linear-gradient(#fe8464 0%, #fe6e9a 100%); */
       background: -webkit-gradient(linear, left top, left bottom, from(#05e8ba), to(#087ee1));
       background: linear-gradient(#05e8ba 0%, #2e82ef 100%);
}
.circleMenu3 {
  /* background-color: #007ea7;
  background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%); */
     background: -webkit-gradient(linear, left top, left bottom, from(#05e8ba), to(#087ee1));
     background: linear-gradient(#05e8ba 0%, #2e82ef 100%);
}
.circleMenu4 {
     background: -webkit-gradient(linear, left top, left bottom, from(#05e8ba), to(#087ee1));
     background: linear-gradient(#05e8ba 0%, #2e82ef 100%);
}


.circleMenuDisable{
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    cursor: default;
    position: relative;
    z-index: 100;
}
.circleMenuDisable .circleMenu-text{
    color: rgb(102, 102, 102);
}
.circleMenuDisable .circleMenu-text-create {
    color: rgb(102, 102, 102);
}
.circleMenu {
    width: 185px;
    height: 150px;
    position: absolute;
    z-index: 8;
    transform: rotate(-35deg);
    border-radius: 60px;
    cursor: pointer;
    -webkit-transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
    transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
    transition: box-shadow 400ms ease,
        transform 400ms ease;
    transition: box-shadow 400ms ease,
        transform 400ms ease,
        -webkit-transform 400ms ease;
    border: 8px solid #ffffff;
    box-sizing: content-box;
        z-index: 100;
}
.circleMenu:hover{
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.51);
        -webkit-transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
        transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
        transition: box-shadow 400ms ease,
        transform 400ms ease;
        transition: box-shadow 400ms ease,
        transform 400ms ease,
        -webkit-transform 400ms ease;
   
        transform: scale(1.2);
  z-index: 500;
 
        
}
.circleMenuDisable:hover {
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.11);
    -webkit-transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
    transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
    transition: box-shadow 400ms ease,
        transform 400ms ease;
    transition: box-shadow 400ms ease,
        transform 400ms ease,
        -webkit-transform 400ms ease;

    transform: scale(0.8);
}
.circleMenu:hover .circleMenu-text{
     transform: rotate(0deg);
       transform 400ms ease,
       -webkit-transform 400ms ease;
}
.circleMenu:hover .circleMenu-text-create {
    transform: rotate(0deg);
    margin-top: 40px;
    transform 400ms ease,
    -webkit-transform 400ms ease;

}

.circleMenu-text {
    position: absolute;
    transform: rotate(35deg);
    width: 100%;
    text-align: center;
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    line-height: 1em;
        color: #ffff;
            -webkit-transition: box-shadow 400ms ease,
            -webkit-transform 400ms ease;
                text-shadow: 2px 4px 5px rgb(0 0 0 / 30%),
                0px -4px 10px rgb(255 255 255 / 30%);
                padding-top: 20px;
                
}
.circleMenu-text-create {
    text-align: center;
    color: #ffff;
    padding-top: 5px;
    position: absolute;
    width: 100%;
    text-decoration: underline;
        transform 400ms ease,
        -webkit-transform 400ms ease;
}
.circleMenu-text img{
    width: 50px;
}
.bgvideo {
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 120px);
}
.vdboBG{
    position: absolute;
    top: 0px;
    width: 100%;
    height: calc(100vh - 120px);
}

.ripple-background {
    position: absolute;
    top: 0;
    height: 400px;
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 120px);
}
.circle {
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
    transform: scale();
}

.small {
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
}

.medium {
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
}

.large {
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
}

.xlarge {
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
}

.xxlarge {
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
}

.shade1 {
    opacity: 0.1;
}

.shade2 {
    opacity: 0.2;
}

.shade3 {
    opacity: 0.3;
}

.shade4 {
    opacity: 0.2;
}

.shade5 {
    opacity: 0.2;
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.8);
    }
}



span.notification-bar-task {
    color: #fa0000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-left: 8px;
    padding-right: 8px;
    background: #efefef;
    border-radius: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
}



.footerPage1 {
    z-index: 300;
    background: #03a9f4;
    box-shadow: rgb(50 50 93 / 25%) 0px -4px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    padding: 8px;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    z-index: 10000;
    position: relative;
    background-color: #abe9cd;
   background-color: #2a2a72;
   background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    min-height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;

}

.rightBox1 {
    position: absolute;
    left: 20px;
    width: calc(100% - 20px);
    position: absolute;
    width: calc(90%);
    /* border: 1px solid red; */
    height: 100%;
    /* transform: skew(-27deg, 0deg); */
    transform-origin: left;
    box-shadow: rgb(50 50 93 / 30%) 0px -1px 84px -48px,
    rgb(0 0 0 / 20%) 0px 6px 20px -24px;
}

.rightBoxContent {
    /* min-height: 79px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5px;
    margin-right: 20px;
    gap: 2%;
    position: relative;
    z-index: 500;
    width: 100%;
}
.rightBoxContent-item {
    display: flex;
    height: 100%;
    /* width: 80px; */
    border-radius: 10px;
    background-color: #B3F4FF;
    /* background-image: linear-gradient(315deg, #f8f8f8 0%, #eeeeee 100%); */
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px;
    min-width: 85px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
        -webkit-transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
        transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
        transition: box-shadow 400ms ease,
        transform 400ms ease;
        transition: box-shadow 400ms ease,
        transform 400ms ease,
        -webkit-transform 400ms ease;
}
.rightBoxContent-item:hover{
     box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.51);
     -webkit-transition: box-shadow 400ms ease,
     -webkit-transform 400ms ease;
     transition: box-shadow 400ms ease,
     -webkit-transform 400ms ease;
     transition: box-shadow 400ms ease,
     transform 400ms ease;
     transition: box-shadow 400ms ease,
     transform 400ms ease,
     -webkit-transform 400ms ease;
    background-color: #ffffff;
     transform: scale(1.2);
     z-index: 500;
}
.rightBoxContent3 .rightBoxContent-item{
    min-width: 100px;
}
.rightBoxContentDiv {
    margin-top: 5px;
    /* margin-left: -190px; */
    box-sizing: content-box;
    /* padding-right: 20px; */
    /* width: 90%; */
    margin-left: 30px;
    margin-right: 30px;
    height: calc(100% - 40px);
}
.rightBoxContent-header {
    text-align: left;
    margin-right: 20px;
    margin-bottom: 0px;
    font-size: 1.4em;
    color: #fff;
}
.item-pic img {
    width: 30px;
}
.item-text {
    margin-left: 10px;
    text-align: left;
    padding-right: 15px;
}


.rightBoxContent-item-collapse {
    display: flex;
    height: 100%;
    /* width: 80px; */
    border-radius: 10px;
    background-color: #B3F4FF;
    /* background-image: linear-gradient(315deg, #f8f8f8 0%, #eeeeee 100%); */
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px;
    min-width: 85px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    width:100%;
}
.rightBoxContent-item-collapse:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.51);
    -webkit-transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
    transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
    transition: box-shadow 400ms ease,
        transform 400ms ease;
    transition: box-shadow 400ms ease,
        transform 400ms ease,
        -webkit-transform 400ms ease;
    background-color: #ffffff;
    transform: scale(1.1);
    z-index: 500;
}
.showDownload {
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.51);
        -webkit-transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
        transition: box-shadow 400ms ease,
        -webkit-transform 400ms ease;
        transition: box-shadow 400ms ease,
        transform 400ms ease;
        transition: box-shadow 400ms ease,
        transform 400ms ease,
        -webkit-transform 400ms ease;
    margin: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 94%;
    background: #fff;
    height: 93%;
    border-radius: 10px;
    z-index: 2000;
    padding: 20px;
display: none;

}
.closeDownload {
    text-align: right;
    font-size: 2em;
    position: absolute;
    top: -16px;
    right: 3px;
cursor: pointer;
z-index: 2000;
}
.closeDownload:hover{
color: #1991eb;
}