.textEdit{
    color:#007ac6;
    font-size: 0.8em;
    cursor: pointer;
    text-decoration: underline;
    padding:2px 2px 2px 2px;
}
.textEdit:hover{
    color: #ffc800;
    text-decoration: underline;
    border-radius: 5px;
}

.sep {
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
}
.sep2 {
    border-bottom: 1px solid #646464;

}
.viewBtn{
    display:inline-block;
    margin-right: 5px;
     color:#007ac6;
     cursor: pointer;
     padding:2px 2px 2px 2px;
}

.viewBtn:hover {
    color: #ffc800;
    text-decoration: underline;
}

.StageGate-Detail-Header.InitiativeName {
    font-size: 1.2em;
    color: var(--bg-gc);
    font-weight: 400;
}
.setGate{
    position: fixed;
    bottom: 50px;
    right: 150px;
    text-align: center;
}
.setGate ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.setGate li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    background-color: #1991eb;
    font-size:11px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}